%footer.footer
  .wrapper
    .logo
      = image_tag 'images/ir_footer_logo@2x.png'
    %dl
      %dt 800-241-4474 | HELLO@IRTALENT.COM
      %dd © 2015 INTERACTIVE RESOURCES, LLC
    %ul
      %li
        = link_to 'tel:904-821-8960' do
          = image_tag 'images/icon_call_alt.svg'
          %br
          Call Us
      %li
        = link_to 'mailto:info@irtalent.com' do
          = image_tag 'images/icon_email_alt.svg'
          %br
          Email Us




= link_to 'Scroll to top', '#', class: 'scrollToTop'

%section.easter-egg
  .wrapper
    = image_tag 'images/easter-egg-type.png'
    %span © 2015 INTERACTIVE RESOURCES, LLC
