%nav.main-nav
  .wrapper
    %header
      .social-links
        = link_to '#' do
          = image_tag 'images/email.png'
        = link_to '#' do
          = image_tag 'images/twitter.png'
        = link_to '#' do
          = image_tag 'images/linkedin.png'
    .logo
      = link_to '/' do
        = image_tag 'images/interactive-resources-logo.png'
    %ul
      %li
        = link_to 'Find Jobs', 'jobs.html'
      %li
        = link_to 'Find Talent', 'talent.html'
      %li
        = link_to 'About', 'about.html'
      %li
        = link_to 'Contact', '#'
    = link_to '#', class: 'mobile-btn' do
      = image_tag 'images/mobile-nav-icon.png'
    .ui.basic.modal.mobile-nav
      .close
        %i.ion-close-round
      = link_to 'Find Jobs', 'jobs.html'
      = link_to 'Find Talent', 'talent.html'
      = link_to 'About', 'about.html'
      = link_to 'Contact', '#'

:javascript
  // Mobile Nav
  $('.ui.modal')
    .modal('attach events', '.mobile-btn', 'show')
  ;
