%nav.main-nav
  .wrapper
    %header
      .social-links
        Stuff
    .logo
      = image_tag 'images/interactive-resources-logo.png'
    %ul
      %li
        = link_to 'Find Jobs', '#'
      %li
        = link_to 'Find Talent', '#'
      %li
        = link_to 'Find About', '#'
      %li
        = link_to 'Find Contact', '#'
