%nav.main-nav
  .wrapper
    %header
      .social-links
        = link_to '#' do
          = image_tag 'images/email.png'
        = link_to '#' do
          = image_tag 'images/twitter.png'
        = link_to '#' do
          = image_tag 'images/linkedin.png'
    .logo
      = link_to '/' do
        = image_tag 'images/interactive-resources-logo.png'
    %ul
      %li
        = link_to 'Find Jobs', 'jobs.html'
      %li
        = link_to 'Find Talent', 'talent.html'
      %li
        = link_to 'About', 'about.html'
      %li
        = link_to 'Contact', '#', class: 'form-btn'
    = link_to '#', class: 'mobile-btn' do
      = image_tag 'images/mobile-nav-icon.png'
    .ui.basic.modal.mobile-nav
      .close
        = image_tag 'images/close-icon.png'
      = link_to 'Find Jobs', 'jobs.html'
      = link_to 'Find Talent', 'talent.html'
      = link_to 'About', 'about.html'
      = link_to 'Contact', '#'

= partial 'refills/form'

:javascript
  // Mobile Nav
  $('.ui.modal.mobile-nav')
    .modal('attach events', '.mobile-btn', 'show')
  ;
  // Mobile Nav
  $('.ui.modal.form')
    .modal('attach events', '.form-btn', 'show')
  ;
