---
title: Interactive Resources | About
---

= partial 'refills/nav'

%section.hero-small
  %article
    .wrapper
      %h1
        Ability
        %br
        Meets
        %br
        Opportunity
      %h2 Great companies start with great people. Get to know ours.

%section.about-content
  .wrapper
    %article
      %h3 Somewhere along the way, staffing forgot about people to focus instead on numbers. We never lose sight of the fact that there’s more to recruiting than quotas or margins.
      %h5 Top Priorities
      %ul
        %li
          = image_tag 'icon_doingright.svg'
          %br
          Doing right by others
          %span We’re honest with you so you don’t have to worry about who or what you’re going to get.
        %li
          = image_tag 'icon_solvingprob.svg'
          %br
          Solving problems creatively
          %span Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce odio est, laoreet id sollicitudin eget, auctor ut elit.
        %li
          = image_tag 'icon_improving.svg'
          %br
          Improving the industry
          %span Curabitur euismod justo mattis odio finibus fermentum. Nullam sodales diam mauris, ac pellentesque.
    %aside
      %ul
        %li
          %h3 Our story starts in a storage closet.
          In 2005, Bryan Carter struck out on his own. He set up shop in a storage closet in his dad’s accounting office. At the time, iR had one client, a phone and a whiteboard. Today, iR is a national company with a fully dedicated team. We serve over 200 clients in the U.S., including our very first, who is still with us today.
        %li
          = image_tag 'ir_garage.jpg'
    .leadership
      %h3 Leadership
      %figure
        %dl
          %dt Bryan Carter
          %dd Founder/ CEO
        = link_to '#' do
          = image_tag 'icon_call.svg'
          %br
          phone
        = link_to '#' do
          = image_tag 'icon_email.svg'
          %br
          email
      %figure
        %dl
          %dt Mark Puskar
          %dd COO
        = link_to '#' do
          = image_tag 'icon_call.svg'
          %br
          phone
        = link_to '#' do
          = image_tag 'icon_email.svg'
          %br
          email
      %figure
        %dl
          %dt Tony Alteri
          %dd Director of New Markets
        = link_to '#' do
          = image_tag 'icon_call.svg'
          %br
          phone
        = link_to '#' do
          = image_tag 'icon_email.svg'
          %br
          email
      %figure
        %dl
          %dt Pete Cochrane
          %dd Director of Enterprise Sales
        = link_to '#' do
          = image_tag 'icon_call.svg'
          %br
          phone
        = link_to '#' do
          = image_tag 'icon_email.svg'
          %br
          email

%section.our-locations
  %article
    .wrapper
      %h5 Our Locations
      %h3 We serve over 200 clients in the U.S.
      %p including our very first, who is still with us today!
      %figure
        .title Newport Beach, CA
        %ul
          %li
            4590 McArthur Blvd.
            %br
            5th Floor
            %br
            Newport Beach, CA 92660
          %li
            949-335-7322
      .title jacksonville, fl
      .title san diego, ca
      .title nashville, tn
      .title austin, tx

%section.cta
  %article
    .wrapper
      %h3 Partner with us
      %p
        How can we help you? Call us 800.000.0000 or
        = link_to 'email us', '#'

= partial 'refills/footer'
