---
title: Interactive Resources
---

= partial 'refills/nav'

%section.hero
  %article
    %h1 Relationships. Talent. Results
    %h2 iR connects talented professionals across the U.S. to build great career, teams and companies.
    .btn-group
      = link_to 'Find Jobs', '#', class: 'btn'
      = link_to 'Find Talent', '#', class: 'btn'
    = link_to '#' do
      = image_tag 'images/down_btn.png', class: 'down-btn'

%section.expertise
  %article
    %h5 Expertise
    %h3 Technical &amp; Professional Staffing
    %p Everyone faces a different set of challenges. We tailor our approach to meet your specific needs.
    %figure
      %dl
        %dt Tech
        %dd
          Services within the full software
          %br
          development lifecycle
      %dl
        %dt Pro
        %dd
          Accounting, finance, customer service,
          %br
          marketing and operations support
      %br
      = link_to 'Upload Your Resume', '#', class: 'btn'
