---
title: Interactive Resources
---

= partial 'refills/nav'

%section.hero
  %article
    %h1 Relationships. Talent. Results
    %h2 iR connects talented professionals across the U.S. to build great career, teams and companies.
    .btn-group
      = link_to 'Find Jobs', '#', class: 'btn'
      = link_to 'Find Talent', '#', class: 'btn'
    = link_to '#' do
      = image_tag 'images/down_btn.png', class: 'down-btn'
