---
title: Interactive Resources | Find Jobs
---

= partial 'refills/nav'

%section.jobs-hero
  %article
    .headline
      %h1 Create a career you love.
      %h2 Discover meaningful opportunities every step of the way.

%section.jobs-content
  .wrapper
    %article
      %h3 What matters most to you in your career?
      %p
        Truth be told, we’re all looking for different things at different times in our career.
        %br
        Wherever you are today – whether actively searching or just curious what’s out
        %br
        there –
        = link_to 'we can help.', '#'
  = image_tag 'images/trail_photo.jpg'

%section.help-talent
  .wrapper
    %article
      %h3 We help talent like you
      %ul
        %li
          = image_tag 'images/icon_jobs.svg', class: 'icon'
          %br
          %h5 Find IT or Professional Jobs
          From startups to Fortune 500s, we work with companies of all shapes and sizes across the U.S., many exclusively.
        %li
          = image_tag 'images/icon_career.svg', class: 'icon'
          %br
          %h5 Get Career Advice
          Not exactly sure where to go next? Let us answer your questions and help you get you from A to B as quickly as possible.
        %li
          = image_tag 'images/icon_search.svg', class: 'icon'
          %br
          %h5 Access Market & Salary Stats
          Get the inside scoop on what’s trending, who’s hiring and how much you should be making.
    %article
      %h3 What are you waiting for?
      %ul
        %li
          = image_tag 'images/perfectfit_photo.png', class: 'photo'
          %h5 Find your perfect fit
          At iR, we start with your unique interests, goals and needs. We show you all the jobs, not just the ones that benefit us the most.
        %li
          = image_tag 'images/engageterms_photo.png', class: 'photo'
          %h5 Engage on your terms
          We’re here to show you the money. We’ll help you present your best self and prep for interviews, plus negotiate on your behalf.
        %li
          = image_tag 'images/discover_photo.png', class: 'photo'
          %h5 Discover new opportunities
          A lot of great jobs aren’t available online. We know about opportunities before they hit the market, making it easier for you to call dibs.
    %aside
      = image_tag 'images/connected_photo.png', class: 'photo'
      %h3 Get connected
      %p Employers trust our recommendations and look to us when deciding whom to invite in and hire. Leverage our connections and relationships to land the jobs you really want.
      = link_to 'Upload Your Resume', '#', class: 'btn'

= partial 'refills/footer'
