---
title: Interactive Resources | Find Talent
---

= partial 'refills/nav'

%section.talent-hero
  %article
    .headline
      %h1
        We are the partner you keep
      %h2 Distracted by recruiting and resource challenges? We can help.

%section.talent-content
  .wrapper
    %article
      %ul
        %li
          = image_tag 'images/icon_eye.svg', class: 'eye-icon'
          %h3 Our job is more that just finding you the right people.
          %p It's helping you to solve your business challenges quickly and cost-effectively.
        %li
          = image_tag 'images/people.png', class: 'people'
      .divider
        %p
          = image_tag 'signature.png', class: 'signature  '
          %span Bryan Carter, Founder &amp; Ceo
    %article
      %h3 We tailor our approach to meet your needs and achieve results.
      %p
        Our services include temporary staffing, contracting, direct placement and executive search.
        %br
        We also offer managed services programs (MSP) and vendor management systems (VMS).
      %dl
        %dd
          = image_tag 'icon_temporarystaff.svg'
          %br
          temporary staffing
        %dd
          = image_tag 'icon_contracting.svg'
          %br
          contracting
        %dd
          = image_tag 'icon_directplace.svg'
          %br
          direct placement
        %dd
          = image_tag 'icon_execsearch.svg'
          %br
          executive search

%section.staffing
  .wrapper
    %article
      %dl
        %dt Technical Staffing
        %dd We recruit IT talent and have expertise in software develop,emt and database management systems.
      %dl
        %dt Professional Staffing
        %dd We staff for accounting, finance, marketing, customer service, and other operations support roles.

%section.why-ir
  .wrapper
    %article
      %h3 Why iR?
      %p We know there's bo shortage of staffing compaines knocking on your door. We pride ourselves on earning your business, not jut winning it.
      %p Like every company, our people are our best advantage. We know our markets and have an in-depth understanding of your business environment.
      %p Our approach is agile, without middle management and extra layers to slow us down
      %p We’ve been fortunate to work with many great companies over the years. But the most telling success story is one we haven’t written yet: YOURS. Give us the opportunity to work with you and we’ll show you results.
    %article
      %h3 With iR
      %p
        %span Get what you need, your way
        As a privately held company, we’re able to be creative and flexible in our approach.
      %p
        %span Find the best people
        We go beyond job boards, databases and LinkedIn to return passive candidates.
      %p
        %span Move forward quickly
        We’re responsive and resourceful, making it easy to get the job done.
      %p
        %span Hire with confidence
        We screen candidates thoroughly, engaging industry experts to vet candidates on your behalf.
        
= partial 'refills/cta'

= partial 'refills/footer'
